.footer {
  background-color: var(--clr-primary);
}

.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 0;
  margin-top: 2rem;
}