.footer {
  background-color: var(--clr-blue);
  color: white;
}

.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 3rem 0;
  margin-top: 6rem;
}

.white {
  color: white;
}