.hero {
  background-color: var(--clr-neut);
  align-items: center;
  padding: 5rem 5vw;
  gap: 1rem;
}

.hero__wrapper {
  display: flex;
}

.hero__image {
  display: flex;
  justify-content: center;

}

.prof-pic {
  width: 70%;
  border-radius: 15%;
}

.hero__text {
  width: 60%;
}

.about-me-txt {
  font-size: 1.3rem;
  line-height: 2.5rem;
  text-align: left;
}

@media (max-width: 900px) {
  .about-me-txt {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media (max-width: 600px) {
  .hero {
    padding: 3rem 1.5rem;
  }

  .about-me-txt {
    font-size: 0.8rem;
    line-height: 1rem;
  }
}