.hero {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.hero__wrapper {
  display: flex;
  align-items: center;
  padding: 5rem 5vw;
  gap: 1rem;
}

.hero__image {
  display: flex;
  justify-content: center;
}

.prof-pic {
  width: 70%;
  border-radius: 15%;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

.hero__text {
  width: 60%;
}

.about-me-txt {
  font-size: 1.3rem;
  line-height: 2.5rem;
  text-align: left;
  margin-bottom: 1rem;
}

.social-icon {
  margin-right: 0.5rem;
  font-size: 1.3rem;
  text-decoration: none;
}

@media (max-width: 900px) {
  .about-me-txt {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
}

@media (max-width: 600px) {
  .hero {
    padding: 3rem 1.5rem;
  }

  .hero__wrapper {
    flex-direction: column;
  }

  .hero__text__wrapper {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
}