:root {
  --color1: #461E52;
  --color2: #556DC8;
  --color3: #7998EE;
  --color4: #E68E36;
  --color5: #DD517F;
  --neut: #1A1B1C;
  --primary: #163034;
  --secondary: #68A6A9;
  --accent: #FFC372;

  --fs-400: 1rem;
  --fs-600: 2rem;
  --fs-lg: 10vw;
}

.hero {
  background-color: var(--neut);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw;
}

.prof-pic-wrapper {
  background-color: var(--secondary);
  display: flex;
  align-items: center;
  padding: 0.125rem;
  border-radius: 20%;
}

.prof-pic {
  width: 100%;
  height: 100%;
  border-radius: 20%;
}

.about-me-wrapper {
  width: 60vw;
  padding: 2% 10%;
}

.about-me-txt {
  font-size: 1.3rem;
  line-height: 2.5rem;
  text-align: left;
}

@media (max-width: 745px) {
  .hero {
    padding: 0 2vw;
  }

  .about-me-wrapper {
    width: 80vw;
    padding: 3%;
  }

  .about-me-txt {
    font-size: 0.8rem;
    line-height: 1rem;
  }
}

@media (min-width: 585px) {
  .hero {
    padding: 2vw 5vw;
  }
}