* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  background-color: #1c2630;
  color: rgba(255, 255, 255, 0.87);

  --clr-background: #d1d1e9;
  --clr-neut: #1A1B1C;
  --clr-primary: #163034;
  --clr-secondary: #68A6A9;
  --clr-accent: #FFC372;

  --fs-sm: 0.75rem;
  --fs-4: 1rem;
  --fs-5: 1.25rem;
  --fs-6: 1.5rem;
}

body {
  background-color: var(--clr-background);
}

/* Reusable classes */
.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

@media (min-width: 40em) {
  :root {
    --fs-sm: 1rem;
    --fs-4: 1.125rem;
    --fs-5: 1.5rem;
    --fs-6: 1.75rem;
  }
}

.note {
  /* width: 50%; */
  margin: 0.5rem auto;
  font-size: var(--fs-4);
  padding: 1.3rem;
  align-self: center;
  text-align: center;
  color: black;
  background-color: var(--clr-secondary);
}