/* Font  */
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Bai Jamjuree", sans-serif;
  line-height: 1.5;
  --clr-blue: #0E87E9;
  --clr-light-blue: #EDf2FA;
}

/* Reusable classes */
.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--clr-blue)
}

.social-icon {
  margin-right: 0.5rem;
  font-size: 1.3rem;
  text-decoration: none;
}

i:hover {
  opacity: 0.9;
}

