.navbar {
  background-color: var(--clr-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}

/* .navbar--title {

} */

/* .navbar--icons {
} */

.navbar__icon {
  margin-right: 0.5rem;
}