.navbar {
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 320px;
  padding: 1rem 0;
}

/* .navbar--title {

} */

/* .navbar--icons {
  display: flex;
  justify-content: space-around;
} */

.social {
  /* align-self: center;
  justify-self: center; */
  margin-right: 0.5rem;
  /* height: 100%; */
}