.navbar {
  background-color: var(--clr-primary);
}

.navbar__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;
}

.navbar__icon {
  margin-right: 0.5rem;
}