.skills-title {
  text-align: center;
  color: var(--clr-blue);
  margin: 2rem;
  margin-top: 5rem;
}

.skills-container {
  margin: 2rem 3rem 3rem;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 1px 2px 1px var(--clr-blue);
  background-color: var(--clr-light-blue);
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}

.skills-list div img {
  width: 3rem;
  margin: 0.5rem 1.5rem;
  border-radius: 5px;
  box-shadow: 0px 3px 4px 1px grey;
}

.skills-list div p {
  color: black;
  font-size: 0.9rem;
  text-align: center;
  margin: 0.2rem 0;
}

.skill-subtitle {
  text-align: center;
  padding: 1rem 0;
}